@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* VALUES */

:root {
  --color-primary-dark-1: #1db588;
  --color-primary-dark-2: #1aa179;
  --color-primary-dark-3: #168d6a;
  --color-primary-dark-4: #13795b;
  --color-primary-dark-5: #10654c;
  --color-primary-dark-6: #0d503c;
  --color-primary-dark-7: #0a3c2d;
  --color-primary-dark-8: #06281e;
  --color-primary-dark-9: #03140f;
  --color-primary: #20c997;
  --color-primary-light-1: #36cea1;
  --color-primary-light-2: #4dd4ac;
  --color-primary-light-3: #63d9b6;
  --color-primary-light-4: #79dfc1;
  --color-primary-light-5: #90e4cb;
  --color-primary-light-6: #a6e9d5;
  --color-primary-light-7: #bcefe0;
  --color-primary-light-8: #d2f4ea;
  --color-primary-light-9: #e9faf5;

  --color-grey-light-1: #474747;
  --color-grey-light-2: #5c5c5c;
  --color-grey-light-3: #707070;
  --color-grey-light-4: #858585;
  --color-grey-light-5: #999999;
  --color-grey-light-6: #adadad;
  --color-grey-light-7: #c2c2c2;
  --color-grey-light-8: #d6d6d6;
  --color-grey-light-9: #ebebeb;
  --color-grey: #333333;
  --color-grey-dark-1: #2e2e2e;
  --color-grey-dark-2: #292929;
  --color-grey-dark-3: #242424;
  --color-grey-dark-4: #1f1f1f;
  --color-grey-dark-5: #1a1a1a;
  --color-grey-dark-6: #141414;
  --color-grey-dark-7: #0f0f0f;
  --color-grey-dark-8: #0a0a0a;
  --color-grey-dark-9: #050505;

  --color-success: #69db7c;
  --color-danger: #f03e3e;
  --color-warm: #f59f00;
  --color-black: #000000;
  --color-black: #ffffff;
}

/* GLOBAL SETUP */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  color: var(--color-grey);
}
